extends _layout.jade

block twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@minamorl")
  meta(name="twitter:title" content=title + " - minamorl.com")
  meta(name="twitter:description" content=striptags(contents.toString()).trim().replace(/(?:\r\n|\r|\n)/g, '').slice(0,200))

block title
  title #{yaml.title} - minamorl.com

block content

  article
    h1= yaml.title
    time= yaml.timestamp
    div!= marked(yaml.__content)
  .sorcial
    a(href="https://twitter.com/share" class="twitter-share-button") Tweet
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  #disqus_thread
  script(type="text/javascript").
    var disqus_shortname = 'minamorl';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
