extends _layout.jade

block twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@minamorl")
  meta(name="twitter:title" content="minamorl.com")
  meta(name="twitter:description" content="minamorl.com")

block content
  for article in dir.slice(0, 5)
    article
      h1
        a(href=article.target)= article.yaml.title
      time= article.yaml.timestamp
      div!= marked(article.yaml.__content)

  footer
    .articles
      h2 Recent Articles
      .google-engine
        gcse:search
      ul
        for item in dir
          li 
            a(href=item.target)= item.yaml.title
            time= item.yaml.timestamp
    .bio
      h2 Bio
      img.user-image(src="/bucket/ca7b882483772b2df5ac2d9be51c1211c4609827.jpeg")
      .user-bio
        p name: minamorl 
          a(href="https://github.com/minamorl/")
             span(class="octicon octicon-mark-github")
        p twitter: 
          a(href="https://twitter.com/minamorl/") @minamorl
        ul
          li ドール(azone,dollce,dds)
          li 熱帯魚の飼育・多肉植物の栽培
          li 医薬品検索エンジンChlorixの開発に携わった。
