extends _layout.jade

block twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@minamorl")
  meta(name="twitter:title" content="minamorl.com")
  meta(name="twitter:description" content="minamorl.com")

block content
  for article in all_articles.slice(0, 5)
    article
      h1
        a(href=article.target)= article.yaml.title
      time= article.yaml.timestamp
      div!= marked(article.yaml.__content)

  footer
    .articles
      h2 Recent Articles
      .google-engine
        gcse:search
      ul
        for item in all_articles
          li 
            a(href=item.target)= item.yaml.title
            time= item.yaml.timestamp
    .bio
      h2 Author
      .user-bio
        p name: minamorl 
          a(href="https://github.com/minamorl/")
             span(class="octicon octicon-mark-github")
