extends _layout.jade

block twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@minamorl")
  meta(name="twitter:title" content="minamorl.com")
  meta(name="twitter:description" content=title)

block content
  article
    h1= title
    time= timestamp
    div!= contents

  footer
    .articles
      h2 Recent Articles
      ul
        for filename in dir
          li 
            a(href="articles/"+filename)= filename
    .bio
      h2 Bio
      p name: minamorl
      p twitter: 
        a(href="https://twitter.com/minamorl/") @minamorl
      ul
        li ドール(azone)
        li 熱帯魚の飼育・多肉植物の栽培
        li 医薬品検索エンジンChlorixの開発に携わった。
