extends _layout.jade

block twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@minamorl")
  meta(name="twitter:title" content="minamorl.com")
  meta(name="twitter:description" content="minamorl.com")

block content
  for article in dir.slice(0, 5)
    article
      h1
        a(href=article.target)= article.yaml.title
      time= article.yaml.timestamp
      div!= get_elements_before_readmore(marked(article.yaml.__content))
        if get_comments(marked(article.yaml.__content))
          a(href=article.target) 続きを読む

  footer
    .articles
      h2 Recent Articles
      .google-engine
        gcse:search
      ul
        for item in dir
          li 
            a(href=item.target)= item.yaml.title
            time= item.yaml.timestamp
    .bio
      h2 Author
      img.user-image(src="/bucket/2dfd78ab98cdcdf5ed5477d37c95fc677ce6c39e.png")
      .user-bio
        p name: minamorl 
          a(href="https://github.com/minamorl/")
             span(class="octicon octicon-mark-github")
        p twitter: 
          a(href="https://twitter.com/minamorl/") @minamorl
        ul
          li 
            a(href="https://www.flickr.com/photos/136856949@N04/") ドール(azone,dollce,dds) [flickr]
          li 熱帯魚の飼育・多肉植物の栽培
          li 医薬品検索エンジンChlorixの開発に携わった。
